
input[type=password]
{
    width:50%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 27px;
    box-sizing: border-box;
    border:2px solid black;
    
}
input[type=Name]
{
    width:50%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 27px;
    box-sizing: border-box;
    border:2px solid black;
    
}
.rectangle
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 850px;
    top: 25px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;
}
.full
{
    background: no-repeat url("https://e0.pxfuel.com/wallpapers/60/562/desktop-wallpaper-pastel-background-landscape-page-6-pastel-landscape-art.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
}
.form
{
    position: absolute;
    left: 900px;
    top: 72px;  
    font-size: 20px;
}
.but1
{
    position: absolute;
    border-radius: 1000px;
    background: #D9D9D9;
    width: 177px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    left: 100px;
}
.but2
{
    position: absolute;
    border-radius: 1000px;
    background: #D9D9D9;
    width: 177px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 35px;
    color: #000000;
    left: 100px;
}

